[flake8]
ignore = E501, E302, E231, W293, W292, E128, E122, E265, W291, E711, E226, E225, E402, W391,F403, W391, E261, E262, E228
exclude = 
    venv 
    experiments
    realesrgan
    docs
    diffusers_0_6_0
    .git
    __pycache__
    .vscode

max-complexity = 80
